<div class="modal fade" tabindex="-1" role="dialog" id='scoring-modal'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Scoring</h4>
      </div>
      <div class="modal-body" id="modal-scoring-body">
        
        <form action="" method="post">
        	<div class ="form-group">
	            <div class="form-group col-md-2 col-md-offset-1">
	              	<label class="form-check-label">
	              		<img class="img-responsive" src="/static/image/hci.png" >
	                    <input type="radio" class="form-check-input" name="optionsRadios" value="1">
	                </label>
	            </div>
	            <div class="form-group col-md-2 ">
	              	<label class="form-check-label">
	              		<img class="img-responsive" src="/static/image/dhs.png" >
	                    <input type="radio" class="form-check-input" name="optionsRadios" value="2">
	                </label>
	            </div>
	            <div class="form-group col-md-2 ">
	              	<label class="form-check-label">
	              		<img class="img-responsive" src="/static/image/jjc.jpg" >
	                    <input type="radio" class="form-check-input" name="optionsRadios" value="3">
	                </label>
	            </div>
	            <div class="form-group col-md-2 ">
	              	<label class="form-check-label">
	              		<img class="img-responsive" src="/static/image/rv.png" >
	                    <input type="radio" class="form-check-input" name="optionsRadios" value="4">
	                </label>
	            </div>
	            <div class="form-group col-md-2 ">
	              	<label class="form-check-label">
	              		<img class="img-responsive" src="/static/image/ejc.jpg" >
	                    <input type="radio" class="form-check-input" name="optionsRadios" value="5">
	                </label>
	            </div>
            </div>

            {% csrf_token %}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="scoring-btn">Score</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    var urlScore = "{% url 'score' qn_id%}"
    var _token = "{{ csrf_token }}"
    var qnid = {{ qn.id }}
</script>
